.gallery__title {
    font-weight: 600;
    font-size: 50px;
    line-height: 65px;
    text-align: center;
    color: $black;
    margin: 150px 0 60px;
}

.gallery__inner img {
    width: 100%;
    padding-bottom: 30px;
}