.header {
    max-width: 100%;
    min-height: 900px;
    background-image: url(../img/nav-back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__list {
        display: flex;
        align-items: center;
    }
}

.header__inner {
    display: flex;
    justify-content: space-between;
}